<div class="no-questions">
    <img src="/public/images/Circle.svg" alt="Sem perguntas">
    <p>Nenhuma pergunta por aqui...</p>
    <p>Faça sua primeira pergunta e envie o <br>código dessa sala para outras pessoas!</p>
</div>

<style>
    .no-questions{
        text-align: center;
        margin-top: 5.2rem;
    }
    .no-questions img{
        max-width: 100%;
        margin-bottom: 1.2rem;
    }
    .no-questions p{
        font-family: 'Poppins', sans-serif;
        font-size: 1.8rem;
        font-weight: 600;
    }    
    .no-questions p + p{
        font-family: 'Open Sans', sans-serif;
        font-size: 1.4rem;
        font-weight: 400;
        margin-top: 1.3rem;
        line-height: 1.9rem;
    }
</style>
